{% extends 'main.html' %}

{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Trains Start -->
    {% include 'base/trains_component.html' %}
    <!-- Trains End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.avatar.url}}" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.name}}</h3>
          <p>@{{user.username}}</p>
          {% if request.user == user %}
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Редактировать профиль</a>
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>Описание</h3>
          <p>
            {{user.bio}}
          </p>
          <table class="profile__characteristics">
            <tr>
              <th>Личностные качества:</th>
              <th>Значение:</th>
            </tr>
            <tr>
              <td>Экстраверсия</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Нейротизм</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Доброжелательность</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Добросовестность</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Открытость опыту</td>
              <td>5</td>
            </tr>
          </table>
          <h3>Хобби:</h3>
          <p>Езда на велосипеде, вкусная еда, аниме</p>
          <table class="profile__interests">
            <tr>
              <th>Интересы:</th>
              <th>Значение:</th>
            </tr>
            <tr>
              <td>Экономика</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Социальная сфера</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Духовная</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Политическая</td>
              <td>2</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Купе размещённые {{user.name}}</a>
          </h2>
        </div>
      </div>
      {% include 'base/feed_component.html' %}


    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/activity_component.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock content %}